@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    align-items: center;
    z-index: 99;
    backdrop-filter: blur(20px);
}

.logo {
    font-size: 30px;
    color: aliceblue;
    text-decoration: none;
    font-weight: 700;
    margin-right: auto;
}

nav a {
    color: aliceblue;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.user-auth {
    margin-left: 40px;
}

.user-auth .login-btn-modal {
    height: 40px;
    padding: 0 35px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 40px;
    font-size: 16px;
    color: aliceblue;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}

.user-auth .login-btn-modal:hover {
    background: #fff;
    color: black;
}

section{
    min-height: 100vh;
    background: url("background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    padding: 0 100px;
}

section h1 {
    position: absolute;
    bottom: 40px;
    font-size: 25px;
    color: #fff;
    font-weight: 600;
}

.auth-modal {
    position: fixed;
    width: 420px;
    height: 440px;
    background: rgba(225, 225, 225, .3);
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    backdrop-filter: blur(20px);
    color: #fff;
    inset: 0;
    margin: auto;
    display: flex;
    align-items: center;
}

.auth-modal .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2 {
    font-size: 35px;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid rgba(225, 225, 225, .3);
    outline: none;
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder{
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border-radius: 40px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: black;
    font-weight: 500;
    cursor: pointer;
}

.form-box p{
    font-size: 14.5px;
    text-align: center;
    margin: 25px 0 10px;
}
